<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!-- Add default gateways here. Use the format "<Network>_Gateway_<Subnet>" -->
		<!-- <add key = "NNTP_Gateway_160" value = "180.58.160.251"/> -->
		<!-- <add key = "NNTP_Gateway_180" value = "180.58.180.251"/> -->
		<!-- <add key = "NNPP_Gateway_160" value = "210.58.160.251"/> -->

	<!-- if specific gateways are not configured as shown above, 
		use the following host in the switches subnet as the default gateway -->
		<add key = "DefaultGatewayIP" value = "251"/>

	<!-- Add other default network settings here -->
		<add key = "SubnetMask" value =	"255.255.255.0"/>
		<add key = "NameServer" value = "8.8.8.8"/>
	</appSettings>
</configuration>