<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="GasReceiptsApp.Properties.Settings.gasreceiptsConnectionString"
			connectionString="Data Source=SQ02\MYSQLSERVER,9999;Initial Catalog=gasreceipts;Integrated Security=True;TrustServerCertificate=True"
			providerName="System.Data.SqlClient" />
		<add name="GasReceiptsApp.Properties.Settings.gasreceiptsCxn"
			connectionString="Data Source=SQ02\MYSQLSERVER,9999;Initial Catalog=gasreceipts;Persist Security Info=True;User ID=UpdateGasReceipts;Password=u7DsK!7KFURNT7BjzNzH;TrustServerCertificate=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<system.windows.forms jitDebugging="true" />
</configuration>
