<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "ApiKey" value = "lab"/>
		<add key = "RackMapping" value = '[
  {
    "Location": "Rack1",
    "MAC": "00:00:00:00:00:11",
    "IPAddress": "210.58.140.11"
  },
  {
    "Location": "Rack2",
    "MAC": "00:00:00:00:00:12",
    "IPAddress": "210.58.140.12"
  },
  {
    "Location": "Rack3",
    "MAC": "00:00:00:00:00:13",
    "IPAddress": "210.58.140.13"
  },
  {
    "Location": "Rack4",
    "MAC": "00:00:00:00:00:14",
    "IPAddress": "210.58.140.14"
  },
  {
    "Location": "Rack5",
    "MAC": "00:00:00:00:00:15",
    "IPAddress": "210.58.140.15"
  },
  {
    "Location": "Rack6",
    "MAC": "00:00:00:00:00:16",
    "IPAddress": "210.58.140.16"
  },
  {
    "Location": "Rack7",
    "MAC": "00:00:00:00:00:17",
    "IPAddress": "210.58.140.17"
  },
  {
    "Location": "Rack8",
    "MAC": "00:00:00:00:00:18",
    "IPAddress": "210.58.140.18"
  },
  {
    "Location": "Rack9",
    "MAC": "00:00:00:00:00:19",
    "IPAddress": "210.58.140.19"
  },
  {
    "Location": "Rack10",
    "MAC": "00:00:00:00:00:20",
    "IPAddress": "210.58.140.20"
  },
  {
    "Location": "Rack11",
    "MAC": "00:00:00:00:00:21",
    "IPAddress": "210.58.140.21"
  },
  {
    "Location": "Rack12",
    "MAC": "00:00:00:00:00:22",
    "IPAddress": "210.58.140.22"
  },
  {
    "Location": "Rack13",
    "MAC": "00:00:00:00:00:23",
    "IPAddress": "210.58.140.23"
  },
  {
    "Location": "Rack14",
    "MAC": "00:00:00:00:00:24",
    "IPAddress": "210.58.140.24"
  }
]'/>
	</appSettings>
</configuration>