<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "StudentScriptPath" value = "Z:\Scripts\didactic-octo-robot\Seed-NNTPUsers\Get-TSCRUsers.ps1"/>
		<add key = "InstructorScriptPath" value =	"Z:\Scripts\didactic-octo-robot\Seed-NNTPUsers\Get-TSCRInstructors.ps1"/>
	</appSettings>
</configuration>